@use "sass:map"

/* Mixins file */
@import "../fonts/HelveticaNeueCyr/stylesheet.css"
@import "../fonts/PTSans/stylesheet.css"
@import "../fonts/NanamiPro/stylesheet.css"
@import "./mixins/position"


// Media

=media ($media)
  $sizes: ("xs": $bpXS, "sm": $bpSM, "md": $bpMD, "lg": $bpLG, "xl": $bpXL, "xxl": $bpXXL, "sxl": $bpSXL)

  @if length($media) == 1
    @each $name, $size in $sizes
      @if $media == $name
        @media only screen and (min-width: $size)
          @content

  @else
    @if nth($media, 1) == 'max'
      // TODO @ Не заходит в это условие
      @each $name, $size in $sizes
        @if nth($media, 2) == $name
          @media only screen and (max-width: nth($width, 2) - 1)
            @content

    @else
      $width: ()

      @for $i from 1 through 2
        @each $name, $size in $sizes
          @if nth($media, $i) == $name
            $width: append($width, $size)

    @media only screen and (min-width: nth($width, 1)) and (max-width: nth($width, 2) - 1)
      @content

// Fonts
=font ($args)
  $defaultParams: ('style': normal, 'weight': normal, 'size': 16px, 'height': 150%, 'color': $cBlack)
  $params: map-deep-merge($defaultParams, $args)

  font-family: map-get($params, 'name'), 'Arial', sans-serif
  font-style: map-get($params, 'style')
  font-weight: map-get($params, 'weight')
  font-size: map-get($params, 'size')
  line-height: map-get($params, 'height')
  color: map-get($params, 'color')

  @if map-get($params, 'props')
    @each $prop, $val in map-get($params, 'props')
      #{$prop}: $val

=fontContent($args: ())
  $defaultParams: ('color': $cBlack, 'size': 16px, 'height': 150%, 'weight': normal, 'style': normal)
  $params: map-deep-merge($defaultParams, $args)

  +font(('name': 'PT Sans','style': map-get($params, 'style'),'weight': map-get($params, 'weight'),'size': map-get($params, 'size'),'height': map-get($params, 'height'),'color': map-get($params, 'color')))

=fontTitle($args: ())
  $defaultParams: ('color': $cYellow, 'size': 24px, 'height': 150%, 'weight': 400, 'style': normal)
  $params: map-deep-merge($defaultParams, $args)

  +font(('name': 'Nanami Pro','style': map-get($params, 'style'),'weight': map-get($params, 'weight'),'size': map-get($params, 'size'),'height': map-get($params, 'height'),'color': map-get($params, 'color'),'props': ('text-transform': uppercase,'text-align': center)))

=gradientBackgroundSection ($gradient)
  padding: 50px 0 50px
  background: $gradient
  position: relative
  border-radius: 8px

  &:before,
  &:after
    content: ''
    display: block
    width: 100%
    height: 10px
    background-color: $cWhiteDark
    z-index: -1

  &:before
    +absolute(0 0)

  &:after
    +absolute(auto 0 0 0)

  > .container
    position: relative
    z-index: 2

=icons ($set, $iconName, $width, $height)
  width: $width
  height: $height
  background-repeat: no-repeat
  background-position: 0 0
  background-size: cover
  background-image: url('../img/bigIcons.svg##{$set}-#{$iconName}')

=maxWidthContainer ($bpName: '')
  @if $bpName != ''
    +media ($bpName 'max')
      padding: 0
      max-width: 100%

      .row
        margin: 0

      .col-12
        padding: 0

  @else
    padding: 0
    max-width: 100%

    .row
      margin: 0

    .col-12
      padding: 0

=size ($size)
  @if length($size) == 1
    width: nth($size, 1)
    height: nth($size, 1)
  @else
    width: nth($size, 1)
    height: nth($size, 2)

=isMobile ()
  @media (pointer:none), (pointer:coarse)
    @content
