@font-face {
    font-family: 'Nanami Pro';
    src: url('NanamiPro-Regular2.woff2') format('woff2'),
        url('NanamiPro-Regular2.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanami Pro';
    src: url('NanamiPro-Regular5.woff2') format('woff2'),
        url('NanamiPro-Regular5.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
