include ./components/mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Webpack template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="shortcut icon" href="img/favicon.ico")

  body
    // Banner
    include ./components/sections/test.pug
